// a {
// 	text-decoration: none;
// 	color: white;
// }

// header {
// 	background-color: black;
// 	display: flex;
// 	justify-content: center;
// }

// .logo__header {
// 	width: 1440px;
// 	height: 200px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// }

// .menu__left {
// 	display: flex;
// 	width: 195px;
// 	height: 50px;
// 	align-items: center;
// 	.logo__img {
// 		padding-right: 20px;
// 	}
// }

// .menu__right {
// 	.menu__items {
// 		display: flex;
// 		list-style: none;
// 		.menu__item {
// 			margin-left: 76px;
// 			font-family: "Roboto";
// 			font-weight: 100;
// 			list-style-type: none;
// 			font-size: 22px;
// 			letter-spacing: 2px;
// 		}
// 	}
// }

// .logo__name {
// 	color: white;
// 	font-family: Forum, sans-serif;
// 	font-size: 28px;
// 	letter-spacing: 5px;
// }

// .menu__items {
// 	color: white;
// }

a {
	text-decoration: none;
	color: white;
}

.screen__black {
	width: 1920px;
	background-color: black;
}

.wrapper__black {
	max-width: 1440px;
	height: 100%;
	background-color: black;
	margin: 0 auto;
}
.wrapper {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
}

.header__content {
	height: 200px;
	display: flex;
	justify-content: space-between;
	.logo__wrapper {
		display: flex;
		align-items: center;
		margin-top: 74px;
		width: 195px;
		height: 50px;
		a {
			display: inline-block;
			font-family: Forum, sans-serif;
			font-size: 28px;
			letter-spacing: 5px;
			margin-right: 20px;
		}
		img {
			width: 50px;
			height: 34px;
		}
	}
	.nav__menu {
		display: flex;
		align-items: center;
		.nav__items {
			display: flex;
			.nav__item {
				list-style-type: none;
				margin-left: 76px;
				font-family: "Roboto";
				font-weight: 100;
				list-style-type: none;
				font-size: 22px;
				letter-spacing: 2px;
			}
		}
	}
}

.welcome__content {
	height: 750px;
}

.visiting__content {
	height: 1265px;
}

.explore__content {
	height: 865px;
}

.video__content {
	height: 1009px;
}

.tickets__content {
	height: 893px;
}

.contacts__content {
	height: 963px;
}

.footer__content {
	height: 300px;
}
