a {
	text-decoration: none;
	color: white;
}

.screen__black {
	width: 1920px;
	background-color: black;
}

.screen__white {
	width: 1920px;
	background-color: white;
}

.wrapper__black {
	max-width: 1440px;
	height: 100%;
	background-color: black;
	margin: 0 auto;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.header__content {
	height: 200px;
	display: flex;
	justify-content: space-between;
	.logo__wrapper {
		display: flex;
		align-items: center;
		margin-top: 74px;
		width: 195px;
		height: 50px;
		a {
			display: inline-block;
			font-family: Forum, sans-serif;
			font-size: 28px;
			letter-spacing: 5px;
			margin-right: 20px;
		}
		img {
			width: 50px;
			height: 34px;
		}
	}
	.nav__menu {
		display: flex;
		align-items: center;
		.nav__items {
			display: flex;
			.nav__item {
				list-style-type: none;
				margin-left: 76px;
				font-family: "Roboto";
				font-weight: 100;
				list-style-type: none;
				font-size: 22px;
				letter-spacing: 2px;
			}
		}
	}
}

.screen__welcome {
	position: relative;
	z-index: 2;
	.welcome__image {
		position: absolute;
		z-index: -1;
		left: 705px;
	}
}

.welcome__content {
	height: 750px;
	.content__text {
		width: 598px;
		height: 390px;
		padding-top: 114px;
		display: block;
		h1 {
			font-family: Forum, sans-serif;
			font-size: 80px;
			font-weight: 400;
			letter-spacing: 5px;
			color: #ffffff;
			margin: 0;
			padding-bottom: 26px;
			line-height: 90px;
			span {
				display: block;
			}
		}
		h2 {
			margin: 0;
			font-family: "Roboto";
			font-weight: 300;
			font-size: 28px;
			letter-spacing: 2px;
			color: #ffffff;
			padding-bottom: 76px;
		}
		.welcome__button {
			width: 360px;
			height: 75px;
			background-color: #710707;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				font-family: "Roboto";
				font-weight: 100;
				font-size: 22px;
				letter-spacing: 2px;
				color: #ffffff;
				margin: 0 auto;
			}
		}
	}
}

.visiting__content {
	height: 1265px;
	.visiting__heading {
		h2 {
			font-family: Forum, sans-serif;
			font-size: 80px;
			font-weight: 400;
			letter-spacing: 5px;
			color: #9d8665;
			line-height: 90px;
			margin: 0;
			padding: 75px 0 25px 0;
		}
		.heading__underline {
			height: 3px;
			background-color: #710707;
		}
	}
	.places__items {
		padding-top: 75px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.places__item {
			width: 440px;
			height: 422px;
			margin-bottom: 78px;
			img {
				display: block;
				width: 440px;
				height: 285px;
				margin: 0;
			}
			h3 {
				font-family: Forum, sans-serif;
				font-size: 32px;
				font-weight: 400;
				letter-spacing: 5px;
				line-height: normal;
				color: #000000;
				margin: 25px 0 9px 0;
			}
			.placeheading__underline {
				width: 300px;
				height: 2px;
				background-color: #710707;
				margin-bottom: 10px;
			}
			.place__tour {
				font-family: "Roboto";
				font-weight: 100;
				font-size: 22px;
				color: #000000;
				line-height: normal;
				padding-bottom: 10px;
				margin: 0;
			}
			.place__panorama {
				font-family: "Roboto";
				font-weight: 100;
				font-size: 18px;
				color: #000000;
				line-height: normal;
				margin: 0;
			}
		}
	}
}

.explore__content {
	height: 865px;
	display: flex;
	justify-content: space-between;
	.explore__text {
		color: #ffffff;
		width: 660px;
		padding-top: 75px;
		h2 {
			font-family: Forum, sans-serif;
			font-size: 80px;
			font-weight: 400;
			letter-spacing: 5px;
			color: #ffffff;
			line-height: 90px;
			margin: 0;
			padding-bottom: 25px;
		}
		.heading__underline {
			height: 3px;
			background-color: #710707;
			margin-bottom: 75px;
		}
		.text {
			height: 281px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		p {
			font-family: "Roboto";
			font-weight: 300;
			font-size: 22px;
			color: #ffffff;
			line-height: 38.5px;
			margin: 0;
			span {
				color: #caaa7d;
			}
		}
	}
	.explore__image {
		padding-top: 75px;
		width: 720px;
		margin-top: 15px;
	}
}

.video__content {
	height: 1009px;
	img {
		display: block;
		padding-top: 90px;
	}
	.video__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		h2 {
			display: block;
			font-family: Forum, sans-serif;
			font-size: 80px;
			font-weight: 400;
			letter-spacing: 5px;
			color: #caaa7d;
			line-height: 90px;
			margin: 0;
		}
		p {
			display: block;
			font-family: "Roboto";
			font-weight: 300;
			font-size: 22px;
			color: #000000;
			line-height: 38.5px;
			margin: 0;
			width: 720px;
		}
	}
}

.tickets__content {
	height: 893px;
	h2 {
		font-family: Forum, sans-serif;
		font-size: 80px;
		font-weight: 400;
		letter-spacing: 5px;
		color: #ffffff;
		line-height: 90px;
		margin: 0;
		padding: 75px 0 25px 0;
	}
	.heading__underline {
		height: 3px;
		background-color: #710707;
	}
	.ticket__parameters {
		display: flex;
		color: #ffffff;
		justify-content: space-between;
		img {
			padding-top: 75px;
		}
		.parameters__wrapper {
			padding-top: 75px;
			display: flex;
			width: 660px;
			height: 442px;
			justify-content: space-between;
			.parameter__heading {
				font-family: Roboto;
				font-size: 28px;
				font-weight: 700;
				margin: 0;
			}

			.ticket__type {
				width: 270px;
				height: 262px;
				p {
					line-height: 33px;
					padding-bottom: 51px;
				}
				.ticket__radio {
					width: 270px;
					height: 176px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.label {
						font-family: Roboto;
						font-size: 22px;
						font-weight: 300;
						.text {
							line-height: 26px;
							padding-left: 18px;
							margin: 0;
						}
					}
					.radio {
						display: none;
					}
					.custom {
						box-sizing: border-box;
						display: inline-block;
						border-radius: 50%;
						width: 17px;
						height: 17px;
						border: 2px solid #fff;
						position: relative;
					}
					.custom::before {
						content: "";
						display: block;
						position: absolute;
						top: 23%;
						left: 25%;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background-color: #fff;
						opacity: 0;
						transition: 0.2s;
					}
					.radio:checked + .custom::before {
						opacity: 1;
					}
				}
			}

			.ticket__amount {
				width: 175px;
				height: 442px;
				display: flex;
				flex-direction: column;
				p {
					text-align: end;
				}
			}
		}
	}
}

.contacts__content {
	height: 963px;
}

.footer__content {
	height: 300px;
}
