a {
	text-decoration: none;
	color: white;
}

.screen__black {
	width: 1920px;
	background-color: black;
}

.wrapper__black {
	max-width: 1440px;
	height: 100%;
	background-color: black;
	margin: 0 auto;
}
.wrapper {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
}

.header__content {
	height: 200px;
	display: flex;
	justify-content: space-between;
	.logo__wrapper {
		display: flex;
		align-items: center;
		margin-top: 74px;
		width: 195px;
		height: 50px;
		a {
			display: inline-block;
			font-family: Forum, sans-serif;
			font-size: 28px;
			letter-spacing: 5px;
			margin-right: 20px;
		}
		img {
			width: 50px;
			height: 34px;
		}
	}
	.nav__menu {
		display: flex;
		align-items: center;
		.nav__items {
			display: flex;
			.nav__item {
				list-style-type: none;
				margin-left: 76px;
				font-family: "Roboto";
				font-weight: 100;
				list-style-type: none;
				font-size: 22px;
				letter-spacing: 2px;
			}
		}
	}
}

.screen__welcome {
	position: relative;
	z-index: 2;
	.welcome__image {
		position: absolute;
		z-index: -1;
		left: 705px;
	}
}

.welcome__content {
	height: 750px;
	.content__text {
		width: 598px;
		height: 390px;
		padding-top: 114px;
		display: block;
		h1 {
			font-family: Forum, sans-serif;
			font-size: 80px;
			font-weight: 400;
			letter-spacing: 5px;
			color: #ffffff;
			margin: 0;
			padding-bottom: 26px;
			line-height: 90px;
			span {
				display: block;
			}
		}
		h2 {
			margin: 0;
			font-family: "Roboto";
			font-weight: 300;
			font-size: 28px;
			letter-spacing: 2px;
			color: #ffffff;
			padding-bottom: 76px;
		}
		.welcome__button {
			width: 360px;
			height: 75px;
			background-color: #710707;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				font-family: "Roboto";
				font-weight: 100;
				font-size: 22px;
				letter-spacing: 2px;
				color: #ffffff;
				margin: 0 auto;
			}
		}
	}
}

.visiting__content {
	height: 1265px;
}

.explore__content {
	height: 865px;
}

.video__content {
	height: 1009px;
}

.tickets__content {
	height: 893px;
}

.contacts__content {
	height: 963px;
}

.footer__content {
	height: 300px;
}
